@model RuilwinkelVaals.WebApp.Data.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mb-4">Product #@Model.Id</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card card-header">@Html.DisplayNameFor(model => model.Image)</div>
                <img class="card-img-bottom" src="~/img/storage/products/@Model.Image" asp-append-version="true" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr class="d-flex">
                                <th class="col-4">@Html.DisplayNameFor(model => model.Name)</th>
                                <td class="col-8">@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-4">@Html.DisplayNameFor(model => model.Brand)</th>
                                <td class="col-8">@Html.DisplayFor(model => model.Brand)</td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-4">@Html.DisplayNameFor(model => model.Category)</th>
                                <td class="col-8">@Html.DisplayFor(model => model.Category.Name)</td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-4">@Html.DisplayNameFor(model => model.Condition)</th>
                                <td class="col-8">@Html.DisplayFor(model => model.Condition.Name)</td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-4">@Html.DisplayNameFor(model => model.Status)</th>
                                <td class="col-8">@Html.DisplayFor(model => model.Status.Name)</td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-4">@Html.DisplayNameFor(model => model.CreditValue)</th>
                                <td class="col-8">@Html.DisplayFor(model => model.CreditValue)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        @if (!User.IsInRole("User"))
                        {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Product wijzigen</a>
                        }
                        <a class="btn btn-danger" asp-action="Index">Terug naar overzicht</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}